# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/

# Xcode related
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/xcshareddata/
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/GeneratedPluginRegistrant.*
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/flutter_export_environment.sh
*.xcworkspace
*.xcsettings
*.plist
*.xcconfig
*.pbxproj

# Android related
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/.settings/
android/.externalNativeBuild/

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/
macos/Runner.xcodeproj/xcshareddata/
*.xcworkspace
*.xcsettings
*.plist
*.xcconfig
*.pbxproj

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Web related
web/.dart_tool/

# Others
*.log
*.tmp
*.swp
*.DS_Store
*.lock

# Coverage
coverage/

# Packages
pubspec.lock

# Test outputs
test/**/outputs/ 